In [1]:
import pandas as pd
import numpy as np

- Nhận xét chung các file dữ liệu
    - File 2018 và 2019: Các trường dữ liệu định danh được thay bằng các số tăng dần từ 1
    - Các file dữ liệu còn: Các trường dữ liệu định danh được giữ nguyên, không thay bằng số

- Do đó, tiến hành merge file 2018 và 2019 trước, sau đó thay dữ liệu của các cột định danh và merge với các file còn lại

In [2]:
df_18 = pd.read_csv('../../Data/data_2018.csv')
df_19 = pd.read_csv('../../Data/data_2019.csv')

In [3]:
df_18.head(3)

,Accident Fields_Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,...,Local Authority,Vehicle Fields_Reference Number,Vehicle Number,Type of Vehicle,Casualty Fields_Reference Number,Casualty Veh No,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,51B0230,433936,428874,1,11/01/2018,700,6,U,1,4,...,E08000035,51B0230,1,9,51B0230,1,3,3,2,87
1,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,...,E08000035,51B0349,1,11,51B0349,1,2,3,2,60
2,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,...,E08000035,51B0349,1,11,51B0349,1,2,3,2,51

In [4]:
df_19.head(3)

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Vehicle Number,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,6
1,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,1,9
2,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,39

- Các trường dữ liệu trong 2 tập dữ liệu trên phần đa là giống nhau. Do đó, ta xem xét các cột nghi vấn có dữ liệu trùng và các cột không giống nhau

In [5]:
print(f'Columns 2018: {df_18.columns}')
print(f'Columns 2019: {df_19.columns}')

Columns 2018: Index(['Accident Fields_Reference Number', 'Grid Ref: Easting',
       'Grid Ref: Northing', 'Number of Vehicles', 'Accident Date',
       'Time (24hr)', '1st Road Class', '1st Road Class & No', 'Road Surface',
       'Lighting Conditions', 'Weather Conditions', 'Local Authority',
       'Vehicle Fields_Reference Number', 'Vehicle Number', 'Type of Vehicle',
       'Casualty Fields_Reference Number', 'Casualty Veh No', 'Casualty Class',
       'Casualty Severity', 'Sex of Casualty', 'Age of Casualty'],
      dtype='object')
Columns 2019: Index(['Reference Number', 'Grid Ref: Easting', 'Grid Ref: Northing',
       'Number of Vehicles', 'Accident Date', 'Time (24hr)', '1st Road Class',
       '1st Road Class & No', 'Road Surface', 'Lighting Conditions',
       'Weather Conditions', 'Local Authority', 'Vehicle Number',
       'Type of Vehicle', 'Casualty Class', 'Casualty Severity',
       'Sex of Casualty', 'Age of Casualty'],
      dtype='object')

In [6]:
# Cột 'Accident Fields_Reference Number' và 'Vehicle Fields_Reference Number'
(df_18['Accident Fields_Reference Number'] == df_18['Vehicle Fields_Reference Number']).value_counts()

True    1995
dtype: int64

In [7]:
# Cột 'Accident Fields_Reference Number' và 'Casualty Fields_Reference Number'
(df_18['Accident Fields_Reference Number'] == df_18['Casualty Fields_Reference Number']).value_counts()

True    1995
dtype: int64

In [8]:
# Cột 'Number of Vehicles' và 'Vehicle Number' năm 2018 và 2019
print('2018\n', (df_18['Number of Vehicles'] == df_18['Vehicle Number']).value_counts())
print()
print('2019\n', (df_19['Number of Vehicles'] == df_19['Vehicle Number']).value_counts())

2018
 True     1301
False     694
dtype: int64

2019
 True     1288
False     619
dtype: int64

- Vậy phát hiện cột **'Accident Fields_Reference Number', 'Vehicle Fields_Reference Number' và 'Casualty Fields_Reference Number'** trong tập dữ liệu năm 2018 giống nhau. Thực hiện xóa 2 cột sau và đổi tên cột đầu thành **'Reference Number'** để ghép với tập dữ liệu năm 2019

- Trong cả 2 tập dữ liệu, có 2 cột **'Number of Vehicles'** và **'Vehicle Number'** chứa dữ liệu giống nhau trên 65%. Do đó, xoá cột **'Vehicle Number'** ở cả 2 tập dữ liệu

- Ngoài ra cột **'Casualty Veh No'** chỉ có trong tập dữ liệu năm 2018 nên cũng bị xoá để merge dữ liệu

In [9]:
# Xóa cột 'Vehicle Fields_Reference Number', 'Casualty Fields_Reference Number', 'Casualty Veh No', 'Vehicle Number' của năm 2018
df_18.drop(columns=['Vehicle Fields_Reference Number', 'Casualty Fields_Reference Number',
                   'Casualty Veh No', 'Vehicle Number'], inplace=True)

# Xoá cột 'Vehicle Number' của năm 2019
df_19.drop(columns=['Vehicle Number'], inplace=True)

# đổi tên cột thành 'Reference Number'
df_18.rename(columns={'Accident Fields_Reference Number': 'Reference Number'}, inplace=True)

In [10]:
# ghép dữ liệu năm 2018 và 2019
df_18_19 = df_18.append(df_19, ignore_index=True)
df_18_19.head(3)

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,51B0230,433936,428874,1,11/01/2018,700,6,U,1,4,1,E08000035,9,3,3,2,87
1,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,60
2,51B0349,430076,433872,1,11/01/2018,855,6,U,2,1,1,E08000035,11,2,3,2,51

- Thay dữ liệu: Các cột `1st Road Class`, `Road Surface`, `Lighting Conditions`, `Weather Conditions`, `Type of Vehicle`, `Casualty Class`, `Casualty Severity`, `Sex of Casualty` sẽ được thay dữ liệu số bằng dữ liệu định danh thật
- Dữ liệu định danh này có thể tìm thấy tại file `./Data/guidace.xlsx`.

In [11]:
# thay dữ liệu cho các cột trong dataset 
df_18_19['1st Road Class'].replace({1: 'Motorway', 
                              2: 'A(M)', 
                              3: 'A', 
                              4: 'B', 
                              5: 'C', 
                              6: 'Unclassified'}, inplace=True)

df_18_19['Road Surface'].replace({1: 'Dry', 
                            2: 'Wet / Damp', 
                            3: 'Snow', 
                            4: 'Frost / Ice', 
                            5: 'Flood (surface water over 3cm deep)'}, inplace=True)

df_18_19['Casualty Class'].replace({1: 'Driver or rider', 
                              2: 'Vehicle or pillion passenger', 
                              3: 'Pedestrian'}, inplace=True)

df_18_19['Lighting Conditions'].replace({1: 'Daylight: street lights present', 
                                   2: 'Daylight: no street lighting', 
                                   3: 'Daylight: street lighting unknown', 
                                   4: 'Darkness: street lights present and lit', 
                                   5: 'Darkness: street lights present but unlit', 
                                   6: 'Darkness: no street lighting', 
                                   7: 'Darkness: street lighting unknown'}, inplace=True)

df_18_19['Casualty Severity'].replace({1: 'Fatal', 
                                 2: 'Serious', 
                                 3: 'Slight'}, inplace=True)

df_18_19['Weather Conditions'].replace({1: 'Fine without high winds', 
                                  2: 'Raining without high winds', 
                                  3: 'Snowing without high winds', 
                                  4: 'Fine with high winds', 
                                  5: 'Raining with high winds', 
                                  6: 'Snowing with high winds', 
                                  7: 'Fog or mist ñ if hazard', 
                                  8: 'Other', 
                                  9: 'Unknown'}, inplace=True)

df_18_19['Sex of Casualty'].replace({1: 'Male', 2: 'Female'}, inplace=True)

df_18_19['Type of Vehicle'].replace({1:	'Pedal cycle', 
                               2:	'M/cycle 50cc and under', 
                               3:	'Motorcycle over 50cc and up to 125cc', 
                               4:	'Motorcycle over 125cc and up to 500cc', 
                               5:	'Motorcycle over 500cc', 
                               6:	'[Not used]', 
                               7:	'[Not used]', 
                               8:	'Taxi/Private hire car', 
                               9:	'Car', 
                               10:	'Minibus (8 to 16 passenger seats)', 
                               11:	'Bus or coach (17 or more passenger seats)', 
                               12:	'[Not used]', 
                               13:	'[Not used]', 
                               14:	'Other motor vehicle', 
                               15:	'Other non-motor vehicle', 
                               16:	'Ridden horse', 
                               17:	'Agricultural vehicle (includes diggers etc.)', 
                               18:	'Tram / Light rail', 
                               19:	'Goods vehicle 3.5 tonnes mgw and under', 
                               20:	'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw', 
                               21:	'Goods vehicle 7.5 tonnes mgw and over', 
                               22:	'Mobility Scooter', 
                               90:	'Other Vehicle ', 
                               97:	'Motorcycle - Unknown CC'}, inplace=True)

# duyệt lại các cột vừa được thay dữ liệu
categoricalCols = ['1st Road Class', 'Road Surface', 'Casualty Class', 'Lighting Conditions', 'Casualty Severity', 'Weather Conditions', 'Sex of Casualty', 'Type of Vehicle']

for col in categoricalCols:
  print(f'column: {col}\n{df_18_19[col].value_counts()}\n\n')

column: 1st Road Class
Unclassified    2069
A               1203
Motorway         338
B                149
A(M)             135
C                  8
Name: 1st Road Class, dtype: int64


column: Road Surface
Dry                                    2885
Wet / Damp                              946
Frost / Ice                              37
Snow                                     25
Flood (surface water over 3cm deep)       7
9                                         2
Name: Road Surface, dtype: int64


column: Casualty Class
Driver or rider                 2356
Vehicle or pillion passenger     904
Pedestrian                       642
Name: Casualty Class, dtype: int64


column: Lighting Conditions
Daylight: street lights present              2832
Darkness: street lights present and lit       894
Darkness: no street lighting                   87
Darkness: street lighting unknown              70
Darkness: street lights present but unlit      19
Name: Lighting Conditions, dtype: int64


column: Casualty Severity
Slight     3209
Serious     645
Fatal        48
Name: Casualty Severity, dtype: int64


column: Weather Conditions
Fine without high winds       3390
Raining without high winds     381
Raining with high winds         45
Fine with high winds            35
Other                           20
Snowing without high winds      19
Snowing with high winds          5
Fog or mist ñ if hazard          5
Unknown                          2
Name: Weather Conditions, dtype: int64


column: Sex of Casualty
Male      2325
Female    1577
Name: Sex of Casualty, dtype: int64


column: Type of Vehicle
Car                                                       2554
Pedal cycle                                                530
Bus or coach (17 or more passenger seats)                  192
Motorcycle over 50cc and up to 125cc                       138
Taxi/Private hire car                                      132
Goods vehicle 3.5 tonnes mgw and under                     129
Motorcycle over 500cc                                       78
Motorcycle over 125cc and up to 500cc                       48
M/cycle 50cc and under                                      33
Goods vehicle 7.5 tonnes mgw and over                       26
Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw      12
Minibus (8 to 16 passenger seats)                           10
Mobility Scooter                                             6
Other Vehicle                                                6
Motorcycle - Unknown CC                                      4
Ridden horse                                                 3
Agricultural vehicle (includes diggers etc.)                 1
Name: Type of Vehicle, dtype: int64

- Quan sát phần thống kê giá trị của các cột dữ liệu phía trên, ta thấy có 2 điểm dữ liệu dị thường vì mang giá trị `Road Surface` là 9 (không được định nghĩa trong file ./Data/guidace.xlsx)
- Tiến hành xóa 2 dòng này

In [12]:
# tiến hành xoá 2 điểm này
df_18_19.drop(index=[2518,2019], inplace=True)
df_18_19[df_18_19['Road Surface']==9]

Empty DataFrame
Columns: [Reference Number, Grid Ref: Easting, Grid Ref: Northing, Number of Vehicles, Accident Date, Time (24hr), 1st Road Class, 1st Road Class & No, Road Surface, Lighting Conditions, Weather Conditions, Local Authority, Type of Vehicle, Casualty Class, Casualty Severity, Sex of Casualty, Age of Casualty]
Index: []

- Tiếp tục merge dữ liệu trên với các file còn lại

In [13]:
df_17 = pd.read_csv('../../Data/data_2017.csv')
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2203 entries, 0 to 2202
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     2203 non-null   object
 1   Grid Ref: Easting    2203 non-null   int64
 2   Grid Ref: Northing   2203 non-null   int64
 3   Number of Vehicles   2203 non-null   int64
 4   Accident Date        2203 non-null   object
 5   Time (24hr)          2203 non-null   int64
 6   1st Road Class & No  2203 non-null   object
 7   Road Surface         2203 non-null   object
 8   Lighting Conditions  2203 non-null   object
 9   Weather Conditions   2203 non-null   object
 10  Type of Vehicle      2203 non-null   object
 11  Casualty Class       2203 non-null   object
 12  Casualty Severity    2203 non-null   object
 13  Sex of Casualty      2203 non-null   object
 14  Age of Casualty      2203 non-null   int64
dtypes: int64(5), object(10)
memory usage: 258.3+ KB

- File 2017 không có thuộc tính `1st Road Class`. Do đó, ta tạo thêm cột này từ cột `1st Road Class & No`

In [14]:
df_17['1st Road Class'] = df_17['1st Road Class & No'].apply(lambda x:x[:1])
df_17['1st Road Class'] = df_17['1st Road Class'].replace({'U': 'Unclassified'})
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2203 entries, 0 to 2202
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     2203 non-null   object
 1   Grid Ref: Easting    2203 non-null   int64
 2   Grid Ref: Northing   2203 non-null   int64
 3   Number of Vehicles   2203 non-null   int64
 4   Accident Date        2203 non-null   object
 5   Time (24hr)          2203 non-null   int64
 6   1st Road Class & No  2203 non-null   object
 7   Road Surface         2203 non-null   object
 8   Lighting Conditions  2203 non-null   object
 9   Weather Conditions   2203 non-null   object
 10  Type of Vehicle      2203 non-null   object
 11  Casualty Class       2203 non-null   object
 12  Casualty Severity    2203 non-null   object
 13  Sex of Casualty      2203 non-null   object
 14  Age of Casualty      2203 non-null   int64
 15  1st Road Class       2203 non-null   object
dtypes: int64(5), object(11)
memory usage: 275.5+ KB

In [16]:
df_16 = pd.read_csv('../../Data/data_2016.csv', encoding='cp1252')
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2549 entries, 0 to 2548
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     2549 non-null   object
 1   Grid Ref: Easting    2549 non-null   int64
 2   Grid Ref: Northing   2549 non-null   int64
 3   Number of Vehicles   2549 non-null   int64
 4   Expr1                2549 non-null   object
 5   Accident Date        2549 non-null   object
 6   Time (24hr)          2549 non-null   int64
 7   1st Road Class       2549 non-null   object
 8   Road Surface         2549 non-null   object
 9   Lighting Conditions  2549 non-null   object
 10  Weather Conditions   2549 non-null   object
 11  Casualty Class       2549 non-null   object
 12  Casualty Severity    2549 non-null   object
 13  Sex of Casualty      2549 non-null   object
 14  Age of Casualty      2549 non-null   int64
 15  Type of Vehicle      2548 non-null   object
dtypes: int64(5), object(11)
memory usage: 318.8+ KB

In [17]:
df_16['Expr1'].value_counts()

Leeds 2016    2549
Name: Expr1, dtype: int64

- File 2016 có cột `Expr1` không được định nghĩa trong file ` ./Data/guidace.xlsx` và duy nhất 1 giá trị. Do đó, xóa cột dữ liệu này

In [18]:
df_16.drop(['Expr1'], axis=1, inplace=True)

In [20]:
df_15 = pd.read_csv('../../Data/data_2015.csv', encoding='cp1252')
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2664 entries, 0 to 2663
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     2664 non-null   object
 1   Grid Ref: Easting    2664 non-null   int64
 2   Grid Ref: Northing   2664 non-null   int64
 3   Number of Vehicles   2664 non-null   int64
 4   Accident Date        2664 non-null   object
 5   Time (24hr)          2664 non-null   int64
 6   1st Road Class       2664 non-null   object
 7   Road Surface         2664 non-null   object
 8   Lighting Conditions  2664 non-null   object
 9   Weather Conditions   2664 non-null   object
 10  Casualty Class       2664 non-null   object
 11  Casualty Severity    2664 non-null   object
 12  Sex of Casualty      2664 non-null   object
 13  Age of Casualty      2664 non-null   int64
 14  Type of Vehicle      2664 non-null   object
dtypes: int64(5), object(10)
memory usage: 312.3+ KB

In [21]:
df_14 = pd.read_csv('../../Data/data_2014.csv', encoding='cp1252')
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2533 entries, 0 to 2532
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     2533 non-null   object
 1   Grid Ref: Easting    2533 non-null   int64
 2   Grid Ref: Northing   2533 non-null   int64
 3   Number of Vehicles   2533 non-null   int64
 4   Accident Date        2533 non-null   object
 5   Time (24hr)          2533 non-null   int64
 6   1st Road Class       2533 non-null   object
 7   Road Surface         2532 non-null   object
 8   Lighting Conditions  2533 non-null   object
 9   Weather Conditions   2533 non-null   object
 10  Casualty Class       2533 non-null   int64
 11  Unnamed: 11          2533 non-null   object
 12  Casualty Severity    2533 non-null   object
 13  Sex of Casualty      2533 non-null   object
 14  Age of Casualty      2533 non-null   int64
 15  Type of Vehicle      2533 non-null   object
dtypes: int64(6), object(10)
memory usage: 316.8+ KB

In [22]:
print(f"col 'Unnamed: 11': {df_14['Unnamed: 11'].value_counts()}")
print()
print(f"col 'Casualty Class': {df_14['Casualty Class'].value_counts()}")

col 'Unnamed: 11': Driver        1436
Passenger      691
Pedestrian     406
Name: Unnamed: 11, dtype: int64

col 'Casualty Class': 1    1436
2     691
3     406
Name: Casualty Class, dtype: int64

- Có vẻ như cột `Unnamed: 11` chứa các giá trị thực sự của cột `Casualty Class`. Do đó, ta xóa cột `Casualty Class` và đổi tên cột `Unnamed: 11` thành `Casualty Class`

In [23]:
df_14.drop(['Casualty Class'], axis=1, inplace=True)
df_14.rename(columns={'Unnamed: 11': 'Casualty Class'}, inplace=True)
df_14['Casualty Class'].value_counts()

Driver        1436
Passenger      691
Pedestrian     406
Name: Casualty Class, dtype: int64

In [24]:
df = pd.concat([df_18_19, df_17, df_16, df_15, df_14])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13849 entries, 0 to 2532
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     13849 non-null  object
 1   Grid Ref: Easting    13849 non-null  int64
 2   Grid Ref: Northing   13849 non-null  int64
 3   Number of Vehicles   13849 non-null  int64
 4   Accident Date        13849 non-null  object
 5   Time (24hr)          13849 non-null  int64
 6   1st Road Class       13849 non-null  object
 7   1st Road Class & No  6103 non-null   object
 8   Road Surface         13848 non-null  object
 9   Lighting Conditions  13849 non-null  object
 10  Weather Conditions   13849 non-null  object
 11  Local Authority      3900 non-null   object
 12  Type of Vehicle      13848 non-null  object
 13  Casualty Class       13849 non-null  object
 14  Casualty Severity    13849 non-null  object
 15  Sex of Casualty      13849 non-null  object
 16  Age of Casualty      13849 non-null  int64
dtypes: int64(5), object(12)
memory usage: 1.9+ MB

In [25]:
missing1 = df['1st Road Class & No'].isna().sum()/df.shape[0]
missing2 = df['Local Authority'].isna().sum()/df.shape[0]

print(f'1st Road Class & No misses: {missing1}\nLocal Authority misses: {missing2}')

1st Road Class & No misses: 0.5593183623366308
Local Authority misses: 0.7183912195826413

- 2 cột `1st Road Class & No` và `Local Authority` bị thiếu trên 50% dữ liệu. Do đó, cần phải xóa 2 cột này

In [26]:
df.drop(['1st Road Class & No', 'Local Authority'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13849 entries, 0 to 2532
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     13849 non-null  object
 1   Grid Ref: Easting    13849 non-null  int64
 2   Grid Ref: Northing   13849 non-null  int64
 3   Number of Vehicles   13849 non-null  int64
 4   Accident Date        13849 non-null  object
 5   Time (24hr)          13849 non-null  int64
 6   1st Road Class       13849 non-null  object
 7   Road Surface         13848 non-null  object
 8   Lighting Conditions  13849 non-null  object
 9   Weather Conditions   13849 non-null  object
 10  Type of Vehicle      13848 non-null  object
 11  Casualty Class       13849 non-null  object
 12  Casualty Severity    13849 non-null  object
 13  Sex of Casualty      13849 non-null  object
 14  Age of Casualty      13849 non-null  int64
dtypes: int64(5), object(10)
memory usage: 1.7+ MB

- Kiểm tra lại các thuộc tính của `df`

In [27]:
for col in list(df.columns):
  print(f'column: {col}\n{df[col].value_counts()}\n\n')

column: Reference Number
69T0667    13
26J0461    11
14G1027    10
58K1318     9
6360200     9
           ..
69O1268     1
5970615     1
2AP1028     1
5CJ1932     1
54K0961     1
Name: Reference Number, Length: 10548, dtype: int64


column: Grid Ref: Easting
431402    18
429137    18
431966    18
429369    16
429146    15
          ..
427148     1
429197     1
431246     1
433295     1
430082     1
Name: Grid Ref: Easting, Length: 7214, dtype: int64


column: Grid Ref: Northing
433453    17
433800    14
434397    14
435853    14
425505    13
          ..
432133     1
434471     1
428322     1
430369     1
431104     1
Name: Grid Ref: Northing, Length: 6877, dtype: int64


column: Number of Vehicles
2     8574
1     3489
3     1276
4      344
5      122
6       30
7        9
8        3
10       2
Name: Number of Vehicles, dtype: int64


column: Accident Date
19-Jun-15     22
11/25/2017    21
12/1/2017     21
23-Dec-15     21
8/11/19       21
              ..
2/20/2017      1
4/10/2017      1
27/12/2019     1
01/12/2018     1
02/06/2018     1
Name: Accident Date, Length: 2151, dtype: int64


column: Time (24hr)
1700    161
1800    151
1630    135
1600    122
1730    115
       ...
419       1
433       1
706       1
515       1
39        1
Name: Time (24hr), Length: 1231, dtype: int64


column: 1st Road Class
Unclassified    7206
A               4684
Motorway         852
B                613
A(M)             291
M                166
C                 37
Name: 1st Road Class, dtype: int64


column: Road Surface
Dry                                    10185
Wet / Damp                              2954
Wet/Damp                                 521
Frost / Ice                               83
Snow                                      58
Frost/Ice                                 30
Flood (surface water over 3cm deep)       17
Name: Road Surface, dtype: int64


column: Lighting Conditions
Daylight: street lights present                    8546
Darkness: street lights present and lit            2701
Daylight: Street lights present                    1181
Darkness: Street lights present and lit             534
Darkness: Street lighting unknown                   432
Darkness: no street lighting                        237
Darkness: street lighting unknown                   131
Darkness: No street lighting                         46
Darkness: street lights present but unlit            31
Darkness: Street lights present but unlit             9
Darkness: Street lights present and lit and lit       1
Name: Lighting Conditions, dtype: int64


column: Weather Conditions
Fine without high winds              11779
Raining without high winds            1271
Unknown                                290
Raining with high winds                194
Fine with high winds                   152
Other                                   62
Snowing without high winds              48
Fog or mist – if hazard                 22
Snowing with high winds                 21
Fog or mist ñ if hazard                  5
Fog or mist (if hazard)                  3
Darkness: street lighting unknown        2
Name: Weather Conditions, dtype: int64


column: Type of Vehicle
Car                                                                                           8981
Pedal cycle                                                                                   1841
Bus or coach (17 or more passenger seats)                                                      609
Taxi/Private hire car                                                                          540
Motorcycle over 50cc and up to 125cc                                                           418
Goods vehicle 3.5 tonnes mgw and under                                                         365
Motorcycle over 500cc                                                                          303
Pedal cyclePedal cycle                                                                         131
Motorcycle over 125cc and up to 500cc                                                          116
M/cycle 50cc and under                                                                         104
Motorcycle Motorcycle over 500cc0cc to 12Motorcycle over 500cccc                                86
Goods vehicle 7.5 tonnes mgw and over                                                           72
Pedal cycleCar                                                                                  63
Other Vehicle                                                                                   35
Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw                                          27
Motorcycle 12Motorcycle over 500cccc to Motorcycle over 500cc00cc                               23
Minibus (8 – 16 passenger seats)                                                                22
Motorcycle Motorcycle over 500cc0cc and under                                                   22
Mobility Scooter                                                                                21
Car0                                                                                            11
Motorcycle Motorcycle over 500cc0cc and under0                                                  11
Minibus (8 to 16 passenger seats)                                                               10
Motorcycle Motorcycle over 500cc0cc and underPedal cycle                                         9
Motorcycle - Unknown CC                                                                          7
Pedal cycle0                                                                                     5
Ridden horse                                                                                     4
Agricultural vehicle (includes diggers etc.)                                                     4
Tram / Light rail                                                                                3
Car7                                                                                             3
Motorcycle Motorcycle over 500cc0cc and underMotorcycle Motorcycle over 500cc0cc and under       1
CarTaxi/Private hire car                                                                         1
Name: Type of Vehicle, dtype: int64


column: Casualty Class
Driver or rider                 5169
Pedestrian                      2141
Vehicle or pillion passenger    2133
Driver/Rider                    1597
Driver                          1436
Passenger                       1373
Name: Casualty Class, dtype: int64


column: Casualty Severity
Slight     11828
Serious     1910
Fatal        111
Name: Casualty Severity, dtype: int64


column: Sex of Casualty
Male      8072
Female    5777
Name: Sex of Casualty, dtype: int64


column: Age of Casualty
 23    422
 20    396
 21    395
 25    380
 22    375
      ...
 92      4
 94      3
-1       3
 97      2
 96      1
Name: Age of Casualty, Length: 98, dtype: int64

- Tại các cột `Casualty Class`, `Road Surface`, `Lighting Condition`, `Weather Condition`, `Type of Vehicle` có chứa các giá trị trùng nhau về ý nghĩa nhưng sai về mặt cú pháp
- Đổi tên các giá trị này để quá trình thống kê được chính xác hơn

In [28]:
# cột Casuality Severity
df['Casualty Class'].replace({'Driver or rider': 'Driver', 'Vehicle or pillion passenger': 'Passenger', 'Driver/Rider': 'Driver'}, inplace=True)
df['Casualty Class'].value_counts()

Driver        8202
Passenger     3506
Pedestrian    2141
Name: Casualty Class, dtype: int64

In [29]:
# cột Road Surface
df['Road Surface'].replace({'Wet / Damp': 'Wet/Damp', 'Frost / Ice': 'Frost/Ice', 'Flood (surface water over 3cm deep)': 'Flood (3cm deep)'}, inplace=True)
df['Road Surface'].value_counts()

Dry                 10185
Wet/Damp             3475
Frost/Ice             113
Snow                   58
Flood (3cm deep)       17
Name: Road Surface, dtype: int64

In [30]:
# cột Lighting Conditions
df['Lighting Conditions'].replace({'Daylight: street lights present': 'Daylight: Street lights present',
                                   'Darkness: street lights present and lit': 'Darkness: Street lights present and lit',
                                   'Darkness: Street lights present and lit and lit': 'Darkness: Street lights present and lit',
                                   'Darkness: street lighting unknown': 'Darkness: Street lighting unknown',
                                   'Darkness: no street lighting': 'Darkness: No street lighting',
                                   'Darkness: street lights present but unlit': 'Darkness: Street lights present but unlit'}, inplace=True)
df['Lighting Conditions'].value_counts()

Daylight: Street lights present              9727
Darkness: Street lights present and lit      3236
Darkness: Street lighting unknown             563
Darkness: No street lighting                  283
Darkness: Street lights present but unlit      40
Name: Lighting Conditions, dtype: int64

In [31]:
# cột Weather Conditions
df['Weather Conditions'].replace({'Fog or mist – if hazard': 'Fog or mist (if hazard)',
                                  'Fog or mist ñ if hazard': 'Fog or mist (if hazard)'}, inplace=True)

df.drop(index=[573,577], inplace=True)
df[df['Weather Conditions']=='Darkness: street lighting unknown']

df['Weather Conditions'].value_counts()

Fine without high winds       11772
Raining without high winds     1270
Unknown                         290
Raining with high winds         194
Fine with high winds            152
Other                            62
Snowing without high winds       48
Fog or mist (if hazard)          30
Snowing with high winds          21
Name: Weather Conditions, dtype: int64

In [32]:
# Cột Type of Vehicle
df['Type of Vehicle'].replace({'Car0': 'Car', 'Car7': 'Car',
                               'Pedal cyclePedal cycle': 'Pedal cycle', 'Pedal cycleCar': 'Pedal cycle', 'Pedal cycle0': 'Pedal cycle',
                               'CarTaxi/Private hire car': 'Taxi/Private hire car',
                               'M/cycle 50cc and under': 'Motorcycle over 50cc and up to 125cc',
                               'Motorcycle Motorcycle over 500cc0cc to 12Motorcycle over 500cccc': 'Motorcycle over 500cc',
                               'Motorcycle 12Motorcycle over 500cccc to Motorcycle over 500cc00cc': 'Motorcycle over 500cc',
                               'Motorcycle Motorcycle over 500cc0cc and under': 'Motorcycle over 500cc',
                               'Motorcycle Motorcycle over 500cc0cc and under0': 'Motorcycle over 500cc',
                               'Motorcycle Motorcycle over 500cc0cc and underMotorcycle Motorcycle over 500cc0cc and under': 'Motorcycle over 500cc',
                               'Motorcycle Motorcycle over 500cc0cc and underPedal cycle': 'Motorcycle over 500cc',
                               'Minibus (8 to 16 passenger seats)': 'Minibus (8 – 16 passenger seats)'}, inplace=True)
df['Type of Vehicle'].value_counts()

Car                                                       8987
Pedal cycle                                               2038
Bus or coach (17 or more passenger seats)                  609
Taxi/Private hire car                                      541
Motorcycle over 50cc and up to 125cc                       522
Motorcycle over 500cc                                      455
Goods vehicle 3.5 tonnes mgw and under                     365
Motorcycle over 125cc and up to 500cc                      116
Goods vehicle 7.5 tonnes mgw and over                       72
Other Vehicle                                               35
Minibus (8 – 16 passenger seats)                            32
Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw      27
Mobility Scooter                                            21
Motorcycle - Unknown CC                                      7
Agricultural vehicle (includes diggers etc.)                 4
Ridden horse                                                 4
Tram / Light rail                                            3
Name: Type of Vehicle, dtype: int64

In [35]:
df.to_csv('../../Data/df_merged.csv', index=False)
# df.to_csv('df_merged.csv', index=False)