# Tiền xử lý các cột trong tập dữ liệu
**Note:** Dữ liệu được sử dụng tại đây là file `./Data/df_merged.csv`. File này được merge từ casc file dữ liệu từng năm. Chi tiết xem tại `./preprocess/merge_data.ipynb`

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../Data/df_merged.csv')
for col in list(df.columns):
    print(col, df[col].isna().sum())

Reference Number 0
Grid Ref: Easting 0
Grid Ref: Northing 0
Number of Vehicles 0
Accident Date 0
Time (24hr) 0
1st Road Class 0
Road Surface 1
Lighting Conditions 0
Weather Conditions 0
Type of Vehicle 1
Casualty Class 0
Casualty Severity 0
Sex of Casualty 0
Age of Casualty 0

- Tại cột `Road Surface` và cột `Type of Vehicle` có 1 giá trị null, điền giá trị mode của cột vào ô này

In [3]:
df['Road Surface'].fillna(df['Road Surface'].mode()[0], inplace=True)
df['Type of Vehicle'].fillna(df['Type of Vehicle'].mode()[0], inplace=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13839 entries, 0 to 13838
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Reference Number     13839 non-null  object
 1   Grid Ref: Easting    13839 non-null  int64
 2   Grid Ref: Northing   13839 non-null  int64
 3   Number of Vehicles   13839 non-null  int64
 4   Accident Date        13839 non-null  object
 5   Time (24hr)          13839 non-null  int64
 6   1st Road Class       13839 non-null  object
 7   Road Surface         13839 non-null  object
 8   Lighting Conditions  13839 non-null  object
 9   Weather Conditions   13839 non-null  object
 10  Type of Vehicle      13839 non-null  object
 11  Casualty Class       13839 non-null  object
 12  Casualty Severity    13839 non-null  object
 13  Sex of Casualty      13839 non-null  object
 14  Age of Casualty      13839 non-null  int64
dtypes: int64(5), object(10)
memory usage: 1.6+ MB

## Tiền xử lý cột `Accident Date`
- `Accident Date` đang ở dạng `object` nên được ép kiểu về `Datetime` và sắp xếp tăng dần từ năm 2014 đến năm 2019

In [5]:
df['Accident Date'] = pd.to_datetime(df['Accident Date'])
df.sort_values(by=['Accident Date'], ascending=True, inplace=True)
df.head()

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
11662,140000717,429427,433921,2,2014-01-01,1415,A(M),Dry,Daylight: Street lights present,Fine without high winds,Car,Passenger,Slight,Male,28
11700,140012302,430481,433453,1,2014-01-01,5,Unclassified,Dry,Darkness: Street lights present and lit,Fine without high winds,Taxi/Private hire car,Passenger,Slight,Male,29
11659,140000292,428515,437286,3,2014-01-01,220,Unclassified,Dry,Daylight: Street lights present,Fine without high winds,Car,Driver,Slight,Female,21
11660,140000304,429117,439812,1,2014-01-01,130,Unclassified,Wet/Damp,Darkness: Street lights present and lit,Fine without high winds,Car,Pedestrian,Serious,Female,34
11661,140000717,429427,433921,2,2014-01-01,1415,A(M),Dry,Daylight: Street lights present,Fine without high winds,Car,Driver,Slight,Male,34

## Tiền xử lý cột `Time (24hr)`
- `Time (24hr)` đang ở dạng `object` nên được ép kiểu về `Datetime`

In [6]:
for i in range(len(df['Time (24hr)'])):
  df['Time (24hr)'][i] = str(df['Time (24hr)'][i]//100) + ':' + str(df['Time (24hr)'][i]%100)

df['Time (24hr)'] = pd.to_datetime(df['Time (24hr)'], format='%H:%M').dt.time
df.head()

<ipython-input-6-a05df258ba75>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time (24hr)'][i] = str(df['Time (24hr)'][i]//100) + ':' + str(df['Time (24hr)'][i]%100)
/usr/local/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,Road Surface,Lighting Conditions,Weather Conditions,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
11662,140000717,429427,433921,2,2014-01-01,14:15:00,A(M),Dry,Daylight: Street lights present,Fine without high winds,Car,Passenger,Slight,Male,28
11700,140012302,430481,433453,1,2014-01-01,00:05:00,Unclassified,Dry,Darkness: Street lights present and lit,Fine without high winds,Taxi/Private hire car,Passenger,Slight,Male,29
11659,140000292,428515,437286,3,2014-01-01,02:20:00,Unclassified,Dry,Daylight: Street lights present,Fine without high winds,Car,Driver,Slight,Female,21
11660,140000304,429117,439812,1,2014-01-01,01:30:00,Unclassified,Wet/Damp,Darkness: Street lights present and lit,Fine without high winds,Car,Pedestrian,Serious,Female,34
11661,140000717,429427,433921,2,2014-01-01,14:15:00,A(M),Dry,Daylight: Street lights present,Fine without high winds,Car,Driver,Slight,Male,34

## Tiền xử lý cột `Reference Number`

- Xóa cột `Reference Number` vì cột này chứa các giá trị gần như giá trị index

In [7]:
df.drop(['Reference Number'], axis=1, inplace=True)

## Tiền xử lý cột `Number of Vehicle`

- Chuyển dữ liệu cột này thành dạng định danh

In [8]:
# chuyển đổi cột Number of Vehicle thành định danh
print(f"before\n{df['Number of Vehicles'].value_counts()}")
print()

def numOfVehicleToCategory(x):
    if x == 1:
        return '1'
    if x == 2:
        return '2'
    if x == 3:
        return '3'
    else:
        return '≥4'

df['Number of Vehicles'] = df['Number of Vehicles'].apply(numOfVehicleToCategory)
print(f"after\n{df['Number of Vehicles'].value_counts()}")

before
2     8566
1     3487
3     1276
4      344
5      122
6       30
7        9
8        3
10       2
Name: Number of Vehicles, dtype: int64

after
2     8566
1     3487
3     1276
≥4     510
Name: Number of Vehicles, dtype: int64

## Tiền xử lý cột `Type of Vehicle`

- Format lại dữ liệu trong cột để thuận lợi cho thống kê

In [9]:
# tiền xử lý cột Type of Vehicle
print(f"before\n{df['Type of Vehicle'].value_counts()}")
print()

def formatVehicle(x):
    if x in {'Taxi/Private hire car', 'Car'}:
        return 'Car'
    if x == 'Pedal cycle':
        return 'Pedal cycle'
    if x in {'Bus or coach (17 or more passenger seats)', 'Minibus (8 – 16 passenger seats)'}:
        return 'Bus'
    if x in {'Motorcycle over 50cc and up to 125cc', 'Motorcycle over 500cc', 'Motorcycle over 125cc and up to 500cc', 'Motorcycle - Unknown CC'}:
        return 'Motorcycle'
    if x in {'Goods vehicle 3.5 tonnes mgw and under', 'Goods vehicle 7.5 tonnes mgw and over', 'Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw'}:
        return 'Goods vehicle'
    else:
        return 'Other'

df['Type of Vehicle'] = df['Type of Vehicle'].apply(formatVehicle)
print(f"after\n{df['Type of Vehicle'].value_counts()}")

before
Car                                                       8988
Pedal cycle                                               2038
Bus or coach (17 or more passenger seats)                  609
Taxi/Private hire car                                      541
Motorcycle over 50cc and up to 125cc                       522
Motorcycle over 500cc                                      455
Goods vehicle 3.5 tonnes mgw and under                     365
Motorcycle over 125cc and up to 500cc                      116
Goods vehicle 7.5 tonnes mgw and over                       72
Other Vehicle                                               35
Minibus (8 – 16 passenger seats)                            32
Goods vehicle over 3.5 tonnes and under 7.5 tonnes mgw      27
Mobility Scooter                                            21
Motorcycle - Unknown CC                                      7
Agricultural vehicle (includes diggers etc.)                 4
Ridden horse                                                 4
Tram / Light rail                                            3
Name: Type of Vehicle, dtype: int64

after
Car              9529
Pedal cycle      2038
Motorcycle       1100
Bus               641
Goods vehicle     464
Other              67
Name: Type of Vehicle, dtype: int64

In [11]:
df.to_csv('../../Data/afterPreprocess.csv', index=False)